<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.app.mypackage.regup">

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/regup_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/regup_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="bd.app.mypackage.regup.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bd.app.mypackage.regup.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.AdminActivity"
            android:label="Admin Panel" />
        <activity
            android:name="bd.app.mypackage.regup.StudentVerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.StudentRegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.EnableSubmissionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.CourseSubmissionActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.BloodVaultActivity1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.RegistrationUserTypeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.FacultyVerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.FacultyRegistrationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.FacultyViewActivity1"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.FacultyViewActivity2"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.FacultyViewActivity3"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.BloodVaultActivity2"
            android:label="" />
        <activity
            android:name="bd.app.mypackage.regup.ChangePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.ChangeEmailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.DeveloperActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.PasswordRecoveryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.NotifyAboutVerificationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.AddCourseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.RemoveCourseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.AddFacultyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.RemoveFacultyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="bd.app.mypackage.regup.UpdateSupervisionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name="bd.app.mypackage.regup.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="bd.app.mypackage.regup.CheckPasscodeValidityActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>